body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



#root {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1500px) {
  #root {
    width: 55%;
  }
}

@media (max-width: 1100px) {
  #root {
    width: 70%;
  }
}

@media (max-width: 850px) {
  #root {
    width: 90%;
  }
}

@media (max-width: 640px) {
  #root {
    width: 98%;
  }
}

@media (max-width: 350px) {
  #root {
    min-width: 350px;
    justify-content: flex-start;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
